<!-- <div *ngFor="let user of users">
  <p>First Name: {{ user.firstName }}</p>
  <p>Last Name: {{ user.lastName }}</p>
</div> -->

<mat-card>
  <mat-selection-list [multiple]="false">
    <mat-list-option *ngFor="let user of users">
      <div>
        {{ user.firstName }}
        {{ user.lastName }}
      </div>
    </mat-list-option>
  </mat-selection-list>
  <div>
    <button
      mat-mini-fab
      color="primary"
      aria-label="Example icon button with a delete icon"
    >
      <mat-icon>edit</mat-icon>
    </button>
    <button
      mat-mini-fab
      color="warn"
      aria-label="Example icon button with a delete icon"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </div>
  <!-- <p>Options selected: {{ shoes.selectedOptions.selected }}</p>
</mat-card> -->
</mat-card>
