<!-- <div *ngFor="let user of users">
  <p>First Name: {{ user.firstName }}</p>
  <p>Last Name: {{ user.lastName }}</p>
</div> -->

<mat-card>
  <mat-selection-list #select [multiple]="false">
    <mat-list-option *ngFor="let user of users" [value]="user.id">
      <div>
        {{ user.firstName }}
        {{ user.lastName }}
      </div>
    </mat-list-option>
  </mat-selection-list>
  <div>
    <button mat-mini-fab color="primary" (click)="editUser(select.selectedOptions.selected[0].value)">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-mini-fab color="warn" (click)="deleteUser(select.selectedOptions.selected[0].value)">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</mat-card>

<!-- <p>Options selected: {{ select.selectedOptions.selected[0]?.value }}</p> -->
