<div fxLayout="column-3" fxLayoutAlign="space-evenly center">
  <div fxLayout="row" fxLayoutAlign="space-evenly center">
    <mat-card>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>First Name</mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Last Name</mat-label>
          <input matInput />
        </mat-form-field>
      </div>
      <div>
        <button mat-raised-button color="primary">Add</button>
      </div>
    </mat-card>
  </div>
</div>
