<div fxLayout="column-3" fxLayoutAlign="space-evenly center">
  <div fxLayout="row" fxLayoutAlign="space-evenly center">
    <mat-card>
      <div>
        <form [formGroup]="form">
          <mat-form-field appearance="fill">
            <mat-label>First Name</mat-label>
            <input matInput formControlName="firstName" name="firstName" />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="lastName" name="lastName" />
          </mat-form-field>
        </form>
      </div>
      <div>
        <button mat-stroked-button color="primary" (click)="addUser()">
          Add & Edit
        </button>
      </div>
    </mat-card>
  </div>
</div>
<!-- <div>
  <app-list [inData]="user" (outData)="receiveDataFromChild($event)"></app-list>
</div> -->
